.ui.vertical.basic.semantic {
  background-color: #ffffff;
  border: solid 1px #979797;
}

.ui.inverted.secondary.menu {
  height: 46px;
  background-color: #2f364a;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.ui.image.tit{
  /*239*/
  margin-left: 200px;
}

.search.kuang{
  padding-top: 9px;
}

.ui.icon.input {
  width: 248px;
  height: 29px;
  border-radius: 5px;
  background-color: #fffeff;
  border: solid 1px #d5dcdb;
}

.ui.secondary.menu .item{
    margin-right: 0em;
    margin-left: 0em;
}

.ui.vertical.basic.semantic > .ui.inverted.fixed.secondary.menu > .right.menu >
.ui.item > .item > .username{
  padding-left: 10px;
}

.ui.inverted.fixed.secondary.menu > .ui.item{
  margin-left: -10px;
}

.ui.secondary.inverted.menu .active.item {
  background-color: #19212e;
}

.right.menu{
  padding-right: 200px;
}

.ui.basic.segment{
  padding-top: 70px;
}

.ui.grid.all{
  padding-left: 200px;
  padding-right: 200px;
}

/*大图片*/
.ui.basic.segment > .ui.grid.all > .twelve.wide.column > .ui.items > .ui.grid > .fifteen.wide.column > .ui.grid > .six.wide.column > .image{
  padding-left: 10px;
}

/*图文信息*/
.ui.basic.segment > .ui.grid.all > .twelve.wide.column > .ui.items > .ui.grid{
  margin-top: -30px;
}

/*右侧菜单*/
.ui.basic.segment > .ui.grid.all > .four.wide.column{
  padding-left: 50px;
}

.ui.vertical.basic.segment > .caidan{
  width: 280px;
  height: 35px;
  border-radius: 3px;
}

.ui.vertical.basic.segment > .caidan.one{
  width: 280px;
  height: 35px;
  border-radius: 3px;
  background-color: #eff6fa;
}

.basic.segment.bottom > .fluid.ui.button{
  height: 35px;
  border-radius: 3px;
  background-color: #eff6fa;
}

.basic.segment.bottom > .fluid.ui.button > .wenzi {
  width: 52px;
  height: 19px;
  font-family: SourceHanSansSC-Normal;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #225599;
}

.ui.basic.segment.bottom{
  padding-left: 200px;
  padding-right: 200px;
}
.four.wide.column > .ui.basic.segment{
  width: 280px;
  height: 35px;
}

.ui.basic.segment.bottom > .ui.divider.bottom{
  margin-top: -65px;
}

.ui.basic.segment.bottom > .ui.three.column.grid.container .column.one {
  transform: translate(-15px,0);
}

.ui.basic.segment.bottom > .ui.three.column.grid.container .column.two {
  transform: translate(70px,0);
}

.ui.basic.segment.bottom > .ui.three.column.grid.container .column.three {
  transform: translate(140px,0);
}

.ui.basic.segment.down{
  margin-left: -25px;
  margin-top: -75px;
}

.five.wide.column{
  transform: translate(30px,0);
}
