<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- 首页  by cc -->
    <title>facepage</title>
    <link rel="stylesheet" href="../static/css/semantic.css" media="screen" title="no title">
    <link rel="stylesheet" href="../static/css/custom.css" media="screen" title="no title">
  </head>
  <body>
    <div class="ui vertical basic semantic">
      <!-- 顶部菜单栏 -->
      <div class="ui inverted fixed secondary menu">
        <div class="header item">
            <div class="ui image tit">
                <img src="..\static\images\facePage\logo.png" alt="">
            </div>
        </div>
        <!-- 搜索框 -->
        <div class="search kuang">
          <div class="ui icon input">
            <input type="text" placeholder="搜索你感兴趣的内容...">
            <i class="search icon"></i>
          </div>
        </div>

        <div class="ui item">
          <a class="item">
            <img src="..\static\images\facePage\question_icon.png" style="object-fit:Contain;height:20px;">
            提问
          </a>
          <div class="ui item" style="transform: translate(-10px,0);">
            <a class="item" style="width: 85px;height: 46px;background-color: #19212e;">
              <div class="ui image">
                <img src="..\static\images\facePage\read_icon.png">
              </div>
              <span style="padding-left: 7px;">阅读</span>
            </a>
          </div>
          <a class="item" style="transform: translate(-25px,0);">
            <img src="..\static\images\facePage\answer_icon.png" style="object-fit:Contain;height:20px;">
            回答
          </a>
        </div>

        <div class="right menu">
          <div class="ui item">
            <a class="item">
              <div class="ui image">
                <img src="..\static\images\facePage\avatar_hou.png" alt="">
              </div>
              <!-- <span class="username">候爵</span> -->
              <span class="username">朱崇成</span>
            </a>
          </div>
        </div>

      </div>

      <div class="ui basic segment">
        <div class="ui grid all">
          <!-- 左侧部分 -->
          <div class="eleven wide column">
            <!-- 推荐标签 -->
            <div class="ui container"
            style="margin-top: -15px;">
              <h5>推荐</h5>
              <div class="ui divider"></div>
            </div>
            <!-- 信息展示块1 -->
            <div class="ui items" style="transform: translate(0,-10px);">
              <!-- 用户头像及信息 -->
              <div class="item">
                <a class="ui image">
                  <img src="..\static\images\facePage\avatar_1.png">
                </a>
                <div class="content" style="transform: translate(-12px,0);">
                  <a>
                    <h5>你们是怎么学习正则表达式的？</h5>
                  </a>
                  <div class="meta">
                    <span style="color:#000000;font-family: SourceHanSansSC;font-weight: bold;">尤雨溪，</span>
                    <a>不会搞艺术的程序员不是好设计师</a>
                  </div>
                </div>
              </div>

              <div class="ui grid">
                <!-- 点击次数框 -->
                <div class="one wide column">
                  <div class="ui label" style="width: 38px;height: 24px;border-radius: 3px;background-color: #eff6fa;color: #698ebf;transform: translate(0,-15px);">
                    337
                  </div>
                </div>
                <!-- 图文介绍 -->
                <div class="fifteen wide column">
                  <div class="ui grid" style="transform: translate(-15px,-15px);">
                    <div class="six wide column">
                      <div class="image" style="transform: translate(20px,0);">
                        <img class="ui left floated image"src="..\static\images\facePage\img1.png" style="width:200px;height:112px;">
                        <!-- 评论数 -->
                        <span>
                          <img src="..\static\images\facePage\comment_icon.png">
                          <a style="color:#979797;">14条评论</a>
                        </span>
                      </div>
                    </div>

                    <div class="ten wide column">
                      <div class="description">
                        <p>我简单回忆了下，其实很简单，就是一点，所有正则表达式的需求，都应该经过自己思考完成。除了自己实现一遍，剩下的也就是『无他，唯手熟尔』 另外工具方面推荐一个将 JS 正则可视化的工具：<a href="https://regexper.com/">https://regexper.com/</a>
                          对于理解别人源码里的（或者自己的，哈哈）复杂正则很有帮助...
                          <!-- <a class="ui teal label">显示全部</a> -->
                          <a>显示全部</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 分割线1 -->
            <div class="ui divider" style="transform: translate(0,-30px);"></div>
            <!-- 信息展示块2 -->
            <div class="ui items" style="transform: translate(0,-40px);">
              <!-- 用户头像及信息 -->
              <div class="item">
                <a class="ui image">
                  <img src="..\static\images\facePage\avatar_2.png">
                </a>
                <div class="content" style="transform: translate(-12px,0);">
                  <a>
                    <h5>如何入门微信小程序开发，有哪些学习资料？</h5>
                  </a>
                  <div class="meta">
                    <span style="color:#000000;font-family: SourceHanSansSC;font-weight: bold;">贺嘉，</span>
                    <a>腾讯云布道师、TEDxZhuHai策展人</a>
                  </div>
                </div>
              </div>

              <div class="ui grid">
                <!-- 点击次数框 -->
                <div class="one wide column">
                  <div class="ui label" style="width: 38px;height: 24px;border-radius: 3px;background-color:#698ebf;color: #ffffff;transform: translate(0,-15px);">
                    338
                  </div>
                </div>
                <!-- 图文介绍 -->
                <div class="fifteen wide column">
                  <div class="ui grid" style="transform: translate(-15px,-15px);">
                    <div class="six wide column">
                      <div class="image" style="transform: translate(20px,0);">
                        <img class="ui left floated image"src="..\static\images\facePage\img2.png" style="width:200px;height:112px;">
                        <!-- 评论数 -->
                        <span>
                          <img src="..\static\images\facePage\comment_icon.png">
                          <a style="color:#979797;">238条评论</a>
                        </span>
                      </div>
                    </div>

                    <div class="ten wide column">
                      <div class="description">
                        <p>无内测邀请，1个小时快速搭建微信小程序「小程序」这个划时代的产品发布快一周了，互联网技术人都在摩拳擦掌，跃跃欲试。可是小程序目前还在内测，首批只发放了 200 个内测资格（泪流满面）。本以为没有 AppID 这个月就与小程序无缘了，庆幸的是微信这两天发布了正式版开发者...
                          <a>显示全部</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 分割线2 -->
            <div class="ui divider" style="transform: translate(0,-60px);"></div>
            <!-- 信息展示块3 -->
            <div class="ui items"style="transform: translate(0,-70px);">
              <!-- 用户头像及信息 -->
              <div class="item">
                <a class="ui image">
                  <img src="..\static\images\facePage\avatar_3.png">
                </a>
                <div class="content" style="transform: translate(-12px,0);">
                  <a>
                    <h5>为什么很多看起来不是很复杂的网站，比如Facebook需要大量顶尖高手来开发？</h5>
                  </a>
                  <div class="meta">
                    <span style="color:#000000;font-family: SourceHanSansSC;font-weight: bold;">子柳，</span>
                    <a>重度网瘾患者，尚未放弃治疗</a>
                  </div>
                </div>
              </div>

              <div class="ui grid">
                <!-- 点击次数框 -->
                <div class="one wide column">
                  <div class="ui label" style="width: 38px;height: 24px;border-radius: 3px;background-color: #eff6fa;color: #698ebf;transform: translate(0,-15px);">
                    863
                  </div>
                </div>
                <!-- 图文介绍 -->
                <div class="fifteen wide column">
                  <div class="description" style="transform: translate(5px,-15px);">
                    <p>就拿淘宝来说说，当作给新人一些科普。 先说你看到的页面上，最重要的几个： 【搜索商品】——这个功能，如果你有几千条商品，完全可以用select * from tableXX where title like %XX%这样的操作来搞定。但是——当你有10000000000（一百亿）条商品的时候...
                      <a>显示全部</a>
                    </p>
                    <!-- 评论数 -->
                    <span>
                      <img src="..\static\images\facePage\comment_icon.png">
                      <a style="color:#979797;">14条评论</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- 分割线3 -->
            <div class="ui divider" style="transform: translate(0,-85px);"></div>
            <!-- 信息展示块4 -->
            <div class="ui items"style="transform: translate(0,-95px);">
              <!-- 用户头像及信息 -->
              <div class="item">
                <a class="ui image">
                  <img src="..\static\images\facePage\avatar_4.png">
                </a>
                <div class="content" style="transform: translate(-12px,0);">
                  <a>
                    <h5>开发一个Flappy Bird需要多少行代码，多少时间？</h5>
                  </a>
                  <div class="meta">
                    <span style="color:#000000;font-family: SourceHanSansSC;font-weight: bold;">左文，</span>
                    <a>Ios/Android/Cocos</a>
                  </div>
                </div>
              </div>

              <div class="ui grid">
                <!-- 点击次数框 -->
                <div class="one wide column">
                  <div class="ui label" style="width: 38px;height: 24px;border-radius: 3px;background-color: #eff6fa;color: #698ebf;transform: translate(0,-15px);">
                    11k
                  </div>
                </div>
                <!-- 图文介绍 -->
                <div class="fifteen wide column">
                  <div class="ui grid" style="transform: translate(-15px,-15px);">
                    <div class="six wide column">
                      <div class="image" style="transform: translate(20px,0);">
                        <img class="ui left floated image"src="..\static\images\facePage\img3.png" style="width:200px;height:112px;">
                        <!-- 评论数 -->
                        <span>
                          <img src="..\static\images\facePage\comment_icon.png">
                          <a style="color:#979797;">14条评论</a>
                        </span>
                      </div>
                    </div>

                    <div class="ten wide column">
                      <div class="description">
                        <p>网上找到一篇文章，主场景300左右行代码，一天时间做出来，你信么？背景：最近火爆全球的游戏flappy bird让笔者叹为观止，于是花了一天的时间山寨了一个一模一样的游戏，现在把游戏的思路和源码分享出来，代码是基于javascript语言，cocos2d-x游戏引擎，cocos2d-x editor...
                          <a>显示全部</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 加载更多按钮 -->
            <div class="basic segment bottom" style="transform: translate(0,-100px);">
              <button class="fluid ui button">
                <span class="wenzi">加载更多</span>
              </button>
            </div>

          </div>
          <!-- 右侧部分 -->
          <div class="five wide column">
            <div class="ui container" style="margin-top: -15px;">
              <h5>频道</h5>
              <div class="ui divider two"></div>
            </div>
            <!-- 右侧菜单 -->
            <div class="ui basic segment down">
              <div class="ui item" style="background-color: #eff6fa;width: 280px;height: 35px;border-radius: 3px;padding-top: 5px;">
                <a class="item" style="padding-left: 10px;">
                  <div class="ui image">
                    <img src="..\static\images\facePage\recommand_icon.png">
                  </div>
                  <span class="BiaoTi" style="padding-left:10px;font-family: SourceHanSansSC-Normal;">推荐</span>
                </a>
              </div>

              <div class="ui item" style="width: 280px;height: 35px;border-radius: 3px;padding-top: 8px;">
                <a class="item" style="padding-left: 10px;">
                  <div class="ui image">
                    <img src="..\static\images\facePage\front_icon.png">
                  </div>
                  <span class="BiaoTi" style="color:black;padding-left:10px;color: #4a4a4a;font-family: SourceHanSansSC-Normal;">前端</span>
                </a>
              </div>

              <div class="ui item" style="width: 280px;height: 35px;border-radius: 3px;padding-top: 8px;">
                <a class="item" style="padding-left: 10px;">
                  <div class="ui image">
                    <img src="..\static\images\facePage\end_icon.png">
                  </div>
                  <span class="BiaoTi" style="color:black;padding-left:10px;color: #4a4a4a;font-family: SourceHanSansSC-Normal;">后端</span>
                </a>
              </div>

              <div class="ui item" style="width: 280px;height: 35px;border-radius: 3px;padding-top: 8px;">
                <a class="item" style="padding-left: 10px;">
                  <div class="ui image">
                    <img src="..\static\images\facePage\design_icon.png">
                  </div>
                  <span class="BiaoTi" style="color:black;padding-left:10px;color: #4a4a4a;font-family: SourceHanSansSC-Normal;">设计</span>
                </a>
              </div>

              <div class="ui item" style="width: 280px;height: 35px;border-radius: 3px;padding-top: 8px;">
                <a class="item" style="padding-left: 10px;">
                  <div class="ui image">
                    <img src="..\static\images\facePage\product_icon.png">
                  </div>
                  <span class="BiaoTi" style="color:black;padding-left:10px;color: #4a4a4a;font-family: SourceHanSansSC-Normal;">产品</span>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- 底部信息栏 -->
      <div class="ui basic segment bottom" style="margin-top: -100px;">
        <!-- 分割线 -->
        <div class="ui divider bottom"></div>
        <!-- 底部信息 -->
        <div class="ui three column grid container">
          <div class="column one">
            <p style="color:#979797">
              Develop by Mugglecoding® team cc
            </p>
          </div>
          <div class="column two">
            <p style="color:#979797">
              关于我们，加入我们，联系我们
            </p>
          </div>
          <div class="column three">
            <p style="color:#979797">
              京ICP备15047012号-2
            </p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
